* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.messages-list {
  display: flex;
  flex-wrap: wrap;
  height: 22rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}