* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.messages-list {
  display: flex;
  flex-wrap: wrap;
  height: 22rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

ul::-webkit-scrollbar {
  width: 0.25rem;
}

ul::-webkit-scrollbar-track {
  background: #1e1e24;
}

ul::-webkit-scrollbar-thumb {
  background: #49b8b3;
}
